{% extends 'base.html' %}
{% block content %}
    <main class="main main--about">
        <p>
            Hi, I'm Kunal! undergraduate Computer Science students at BITS Pilani.
            I've been Coding for over 2 years.
        </p>
        
        <p>
            I can help you with Python and JavaScript issues, particularly in web and backend development.
            I'm experienced with programming libraries and frameworks like Flask, React, React Native, and AngularJS.
            I've worked extensively with UNIX systems, MongoDB, PostgreSQL, and advanced system architecture design.
        </p>
    </main>
{% endblock %}
